<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de clientes</title>
  <link rel="stylesheet" href="/css/fila-pedidos-lista-clientes.css">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body> 
  <% if (usuario && usuario.tipo==="admin" ) { %>
        <%- include("partials/navbar/navbar-adm") %>
            <% } else { %>
                <%- include("partials/navbar/navbar") %>
                    <% } %>
<div class="menu">
  <span class="botao_add">+</span>
  <div class="linhaPesquisa">
    <span class="botao_add">F</span>
    <input type="text" class="barra-pesquisa">
  </div>
</div>

<div class="lista-clientes">
  <% clientes.forEach(cliente => { %>
    <div class="linha-cliente">
      <div><%= cliente.nome %></div>
      <div class="botao-editar">E</div>
    </div>
  <% }) %>
</div>

<div class="popup">
  
</div>

</body>

