<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de perfil</title>
</head>
<body>
   <% if (usuario && usuario.tipo==="admin" ) { %>
        <%- include("partials/navbar/navbar-adm") %>
            <% } else { %>
                <%- include("partials/navbar/navbar") %>
                    <% } %>
</body>
</html>