 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@101.7,200..900&display=swap');
    



 body{
        box-sizing: border-box; 
        
        margin: 0;
        padding: 0;
        background-color: rgb(144, 120, 120);
        font-family: "Inconsolata";
    }
    .navbar li button{
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        
    }
    .navbar button{
        border: none;
        background-color: #FC913A;
        border-radius: 30px;
        padding: 16px 50px;
        cursor: pointer;
    }

    .navbar button.sino {
        background-color: #F9D423;
        padding: 10px 14px;
        
    }
    .navbar button.sino svg {
        width: 25px;
        height: 25px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px;
        background-color: #E1F5C4;
        height: 80px;

            
        
    
    }
  
    .navbar .logotipo{
        color: rgb(0, 0, 0);
        
        font-weight: bold;
        margin-right: 14%;
        font-size: clamp(20px,5vw,35px);
        margin-right: 14%;
        min-width: 120px;
        
    
    }

    .navbar .conterQuadrados{display: flex; height: 100%;}

    .navbar .quadrado{
        width: 80px;
        flex: 1;
        min-width: 30px;  
        max-width: 80px; 
        
    }
    .navbar .vermelho{background-color: #FF4E50; }
    .navbar .laranja{background-color: #FC913A; }
    .navbar .amarelo{background-color: #F9D423; }
    .navbar .verdeleve{background-color: #EDE574; }

    .navbar .nav-links{
        font-size: 35px;
        list-style: none;
        display: flex;
    }
    .navbar .nav-links li{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0px 5px;
        
    }
    .navbar .nav-links li button:hover{
        color: #E1F5C4;
        
    }

    @media (max-width: 768px) {
        .navbar .quadrado {
        width: 50px;
        
    }

        .navbar .logotipo{
            
            font-size: 28px;
            margin-right: 10px; 
        }
        
        .navbar .nav-links li button {
            padding: 8px 14px;
            font-size: 16px;
        }

        
   
.navbar .nav-links li button {
    padding: 8px 12px;   
    font-size: 16px;     
    min-width: 60px;     
} 
    }
    